h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #2c3e50;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #425e7a;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #2c3e50;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
  line-height: 1.8;
  color: #333333;
}

p {
  text-align: justify;
  margin-bottom: 20px;
}

ul {
  line-height: 1.6;
  margin-left: 40px;
}

li {
  margin-bottom: 10px;
  color: #2c3e50;
}

a {
  color: #2c3e50;
  text-decoration: none;
  font-weight: 600;
}

hr {
  border: none;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

header {
  background-color: #949494;
}

u {
  color: #3498db;
  border: none;
  height: 2px;
}

u.u2 {
  color: #2c3e50;
  border: none;
  height: 2px;
}

h3.h32 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #0057ad;
}

h2,
h3 {
  margin: 0%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.node-circle {
  fill: #94949400;
  stroke: #000000;
  stroke-width: 1px;
}
.node-text {
  fill: black;
  font-family: sans-serif;
  font-size: 14px;
  text-anchor: middle;
  dominant-baseline: middle;
}
.duration-text {
  fill: #000000;
  font-family: sans-serif;
  font-size: 15px;
  text-anchor: middle;
  dominant-baseline: middle;
}
.arrow {
  stroke: #000000;
  stroke-width: 1.5px;
  fill: none;
  marker-end: url(#arrowhead);
}
#wrapper {
  width: 70%;
  margin: 0 auto;
}
svg {
  display: block;
  margin: 0 auto;
}
.gantt-chart {
  display: grid;
  grid-template-columns: 100px repeat(11, 40px);
  grid-gap: 1px;
  border: 1px solid #ccc;
  font-family: sans-serif;
  width: fit-content;
  margin: 0 auto;
}
.cell {
  padding: 5px;
  text-align: center;
  border-right: 1px solid #eee;
}
.header-cell {
  font-weight: bold;
  background-color: #f2f2f2;
}
.label-cell {
  background-color: #f2f2f2;
  grid-column: 1 / span 1;
}
.label-cell2 {
  background-color: #f2f2f2;
  grid-column: 1 / span 1;
}
.task-P1-T1 {
  background-color: #4caf50;
  color: white;
  grid-column: 2 / span 1;
}
.task-P2-T7 {
  background-color: #2196f3;
  color: white;
  grid-column: 2 / span 2;
}
.task-P1-T4 {
  background-color: #ffeb3b;
  grid-column: 3 / span 5;
}
.task-P2-T2 {
  background-color: #ff9800;
  color: white;
  grid-column: 6 / span 1;
}
.task-P2-T3 {
  background-color: #9c27b0;
  color: white;
  grid-column: 7 / span 1;
}
.task-P2-Idle-2 {
  background-color: #ffffff;
  grid-column: 8 / span 5;
}
.task-P2-T5 {
  background-color: #e91e63;
  color: white;
  grid-column: 4 / span 2;
}
.task-P1-Idle-3 {
  background-color: #ffffff;
  grid-column: 10 / span 3;
}
.task-P1-T6 {
  background-color: #607d8b;
  color: white;
  grid-column: 8 / span 2;
}
#wrapper2 {
  width: 70%;
  margin: 0 auto;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
}
table.t2 {
  border: 1px solid black;
  border-spacing: 0;
  padding: 6px;
}
.formula {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}
.italic {
  font-style: italic;
}
.fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 0.2em;
}
.numerator,
.denominator {
  display: block;
  padding: 0 0.3em;
}
.numerator {
  border-bottom: 1px solid #000;
}
.denominator {
  padding-top: 0.1em;
  font-size: 0.9em;
}
